# IDE / Gradle
.idea/
*.iml
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties
.DS_Store

# Keystore & Signing
*.jks
*.keystore
keystore.properties

# Env & Secrets
.env
.env.*
app/google-services.json
**/secrets/**
*.log

# APK / AAB outputs
*.apk
*.aab
*.mapping
